@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type="file"] {
  max-width: 100%;
}
/**/

#root {
  display: flex;
  justify-content: center;
}

body {
  background-color: #1c202c;
}

.App {
  margin-top: 100px;
}

.App h1 {
  text-align: center;
  width: 1000px;
  font-size: 50px;
  margin-bottom: 30px;
  background-image: linear-gradient(to left, #5925b9, #9900ff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bold;
}

.Myform {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animeList {
  margin-top: 30px;
  width: 1000px;
  border-radius: 15px;
  background-color: #3a4669;
  overflow: hidden;
}

.animeCard {
  display: flex;
  flex-direction: row;
  min-height: 400px;
}

.animeHeader {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 300px;
  background-color: #2a344f;
}

.animeHeader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-grow: 1;
}

.animeDescription {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.animeDescription > span:first-of-type {
  font-size: 24px;
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
}

.animeDescription > span:nth-of-type(2) {
  font-size: 18px;
  color: #c0c6d8;
  line-height: 1.6;
  flex-grow: 1;
}

.animeStats {
  margin-top: 20px;
  color: white;
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
}

.animeStats p {
  margin: 5px 0;
  font-size: 14px;
  color: #b0b7d0;
}
